<div class="row">
    <div class="card mx-auto my-3">
        <div class="card-header bg-dark text-light">Audition List</div>
        <div class="card-block">
            <div class="col-12">
                <table class="table table-bordered table-dashed mt-2">
                    <thead class="bg-dark text-light">
                        <!-- <caption>List of all the auditions.</caption> -->
                        <tr>
                            <th scope="col">Casting update for</th>
                            <th scope="col">Campaign for</th>
                            <th scope="col">Age Group</th>
                            <th scope="col">Audition Date</th>
                            <th scope="col">Audition Ends</th>
                            <th scope="col">Audition Time</th>
                            <th scope="col">Number</th>
                            <th scope="col">Email</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let audition of auditions">
                            <td>{{ audition.casting_update_for }}</td>
                            <td>{{ audition.looking_for }}</td>
                            <td>{{ audition.age_group }}</td>
                            <td>{{ audition.audition_date | date }}</td>
                            <td>{{ audition.audition_ends | date }}</td>
                            <td>{{ audition.audition_time }}</td>
                            <td>{{ audition.number }}</td>
                            <td>{{ audition.email }}</td>
                            <td>
                                <button class="btn btn-sm btn-danger" (click)="delete(audition.id)">Delete</button>
                                <button class="btn btn-sm btn-primary" (click)="edit(audition.id)">Edit</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
