<div class="row">
    <div class="card mx-auto my-3 col">
        <div class="card-header bg-dark text-light">Feedbacks</div>
        <div class="card-block">
            <div class="col-12">
                <table class="table table-bordered table-dashed mt-2">
                    <thead class="bg-dark text-light">
                        <!-- <caption>List of all the auditions.</caption> -->
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Problem</th>
                            <th scope="col">Solution</th>
                            <th scope="col">Number</th>
                            <th scope="col">Date</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let feedback of feedbacks">
                            <td>{{ feedback.name }}</td>
                            <td>{{ feedback.problem }}</td>
                            <td>{{ feedback.solution }}</td>
                            <td>{{ feedback.number }}</td>
                            <td>{{ feedback.created_at | date }}</td>
                            <td>
                                <button class="btn btn-sm btn-danger" (click)="delete(feedback.id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
